@import "tailwindcss";



* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

@keyframes ticker {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.ticker {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  animation: ticker 35s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}